body {
	background-image: url(../img/PFC.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	width: auto;
	height: 600px;
}

html {
	color: black;
	background-color: white;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
}

h1 {
	color: white;
	text-align: center
}

header {
	padding: 2%;
}

#score {
	font-weight: bold; 
	text-align: center;
	font-size: 2em;
	padding-top: 23%;
}