body {
	background-image: url(PFC.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	width: auto;
	height: 600px;
}

html {
	color: black;
	background-color: white;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
}

h1 {
	color: white;
}

header {
	padding: 2%;
}

form {
	padding: 8%;
}

.tb {
	width: 100%;
}

.tb2 {
	width: 45%;
}

table {
	background-color: #ffffff;
	border-color: #000000;
	border-style: solid;
	border-width: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

table td {
	border-style: double;
	border-width: 1px;
	text-align: center;
}

#score {
	font-weight: bold; 
	text-align: center;
	font-size: 2em;
	padding-top: 23%;
}